header{
    text-align: center;

    margin: 20px;
    padding: 20px;
}

nav{
    margin: auto;
    padding: 0px;

    font-style: normal;
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
    text-align: center;

}

.table{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.temp{
    margin: 10px;
    padding: 25px;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("temp3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.temp:hover{
    box-shadow: 5px 5px 5px;
}

.alerte{
    margin: 10px;
    padding: 25px;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("warning.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.alerte:hover{
    box-shadow: 5px 5px 5px;
}

.humidite{
    margin: 10px;
    padding: 25px;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("humidite.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.humidite:hover{
    box-shadow: 5px 5px 5px;
}