header{
    text-align: center;

    margin: 20px;
    padding: 20px;

    font-style: normal;
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
    text-align: center;

    background-image: url("musee.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

}

footer{
    font-style: normal;
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
    text-align: justify;

    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

nav{
    margin: auto;
    padding: 0px;

    font-style: normal;
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
    text-align: center;

}

.table{
    display: grid;
    text-align: center;
    /* display : wrap; 
    flex-wrap: nowrap;
    flex-direction: column; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.temp{
    margin: 10px;
    padding: 25px;
    text-align: center;

    font-style: normal;
    font-size: 1em;
    text-decoration: none;
    font-family: Arial,Helvetica, sans-serif;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("temp3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.temp:hover{
    box-shadow: 5px 5px 5px;
}

.alerte{
    margin: 10px;
    padding: 25px;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("warning.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.alerte:hover{
    box-shadow: 5px 5px 5px;
}

.historique_titre{
    margin: 10px;
    padding: 25px;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("database.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.historique_titre:hover{
    box-shadow: 5px 5px 5px;
}

.humidite{
    margin: 10px;
    padding: 25px;
    text-align: center;

    border: 1px black solid;
    border-radius: 10px;

    background-color: white;
    background-image: url("humidite.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.humidite:hover{
    box-shadow: 5px 5px 5px;
}

a {
    outline: none;
    color: black;
    text-decoration: none;
  }

main{
    font-style: normal;
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
    text-align: justify;
}

.temperature_donnee{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-radius: 10px;
    text-align: justify;
}

.humidite_donnee{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-radius: 10px;
    text-align: justify;
}

.database{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    border-radius: 10px;
    text-align: justify;
}

.temp_reel{
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    grid-column: 1/2;
}

.degreT{
    font-size: 15em;
}
.degreH{
    font-size: 15em;
}

.acc{
    font-size: 15em;
}

.historique{
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    grid-column: 2/2;
}

.historique_temp{
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    grid-column: 1/2;
}

.historique_humidite{
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    grid-column: 2/2;
}

.statut{
    margin: 5px;
    font-style: normal;
    font-size: 1em;
    font-family: Arial,Helvetica, sans-serif;
    text-align: justify;
}

#Button1{
    margin: 5px;
}


.date{
    width: 150 px;
}
